
/* .description{
  margin-left: 20px;
  display: inline-block;
  color: rgb(202, 191, 191);
  font-size: small;
} */


.highlight {
  border: 3px solid aqua;
}

.highlight {
  border: 3px solid aqua;
}

.js-reset-local-storage {
  font-size: smaller;
  width: 80px;
  height: 30px;
  padding: 0;
}