
.preview-tiles-container {
  margin-top: 100px;
}


.highlight {
  border: 3px solid aqua;
}

.highlight {
  border: 3px solid aqua;
}

.js-reset-local-storage {
  font-size: smaller;
  width: 80px;
  height: 30px;
  padding: 0;
}

.confirm-votes {
  position: absolute;
  z-index: 200;
  right: 10%;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-count {
  font-size: 25px;
}

.confirm-votes p {
  font-size: 12px;
}

.confirm-votes button {
  margin-top: 10px;
  padding: 2px;
  font-size: 14px;
}
