
/* small laptops */
@media (max-width: 1200px) {
  .about-hero {
  grid-template-columns: 350px 1fr;
  }

  .hero-description {
    padding: 80px 0 0 50px;
  }

  .card-container {
    gap: 30px;
    left: 10%;
    bottom:35%;
  }

  .home-page-card {
    min-width: 200px;
  }
}

/* tablets */
@media (max-width: 1000px) {

  
  /* About section styles */

  .about-hero {
    border-radius: 30px;
    width: 90%;
    position: relative;
    display: flex;
    top: 1000px;
    left: 5%;
  }

  .about-image-container {
    position: relative;
    border-radius: inherit;
  }

  .about-image-container img {
    border-radius: inherit;
  }

  .hero-description {
    height: 100%;
    position: absolute;
    padding: 100px 0 0 50px;
    border-radius: inherit;
    background-color: rgba(27, 16, 81, 0.877);
  }

  .h1-description {
    padding: 20px 0 30px 0;
  }

  .category-container {
    padding-left: 50px;
  }

  .category {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 700;
  }

  .category-intro {
    padding-top: 30px;
  }



/* Tile styles */

  .tile-description {
    font-size: 15px;
    position: absolute;
    top: 120px;
    left: 5%;
    width: 90%;
    font-family: 'roboto';
  }
  .card-container {
    flex-direction: column;
    gap: 30px;
    left: 10%;
    bottom: 20px;
  }

  .home-page-card {
    max-width: 500px;
    max-height: 140px;
  }  
}

/* phones */
@media (max-width: 800px) {
  
  .hero-text{
    font-size: 50px;
  }

  .description1 {
    padding-top: 200px;
  }

  .description1,
  .description2 {
    font-size: 80%;
    text-align: center;
  }


  .hero-description {
    height: 100%;
    font-size: 18px;
    padding: 30px 0 0 0;
    border-radius: inherit;
  }

  .join-as-creator-section {
    margin-top: 15%;
  }

  .card-container {
    bottom: 10px;
  }

  .home-page-card {
    max-width: 350px;
    font-size: 14px;
  }  

  .category-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }


  .footer-section {
    top: 3550px;
  }  


  /* hero section */
  .hero-description {
    font-size: 100%;
    width: 100%;
    padding: 10% 2% 0 5%;
  }

  /* tile hero */
  
  .tile-description {
    top: 100px;
  }
}

/* smaller phone-width */
@media (max-width: 400px) {


  .tile-description {
    top: 80px;
  }

  .home-page-card {
    max-width: 300px;
    font-size: 14px;
  }  
  
}