.dashboard-card-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 80%;
  height: 150px;
  top: 150px;
  left: 10%;
}

.dashboard-card {
  transition: transform 0.3s ease;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.64);
  background-color: rgba(2, 24, 120, 0.711);
  border-radius: 40px;
  display: grid;
  text-align: center;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.bar-chart {
  background-color: rgba(2, 24, 120, 0.711);
  border-radius: 40px;
  padding-top: 70px;
}

.bar-chart-container {
  position: absolute;
  left: 17.5%;
  top: 350px;
}

.leaderboard-text {
  position: absolute;
  top: 20px;
  left: 130px;
  z-index: 1;
  font-size: 30px;
}


.dashboard-card-title {
  font-size: 14px;
  align-items: end;
}

.dashboard-card-value {
  font-size: 20px;
  font-weight: 800;
}

.dashboard-card-title,
.dashboard-card-value {
  display: flex;
  justify-content: center;
}