.creator-table-container {
  background-color: rgba(0, 0, 0, 0.759);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
  width: 90%;
  left: 5%;
  position: absolute;
  top: 200px;
  height: 60vh;
  padding: 20px;
  overflow: auto;
  border-radius: 40px;
}

::-webkit-scrollbar {
  size: 0;
}

.creator-table {
  width: 100%;
}


.creator-table tr {
  background-color: rgba(0, 74, 101, 0.277);
  height: 40px;
  font-size: 12px;
}

.creator-table tr button {
  background-color: rgba(0, 74, 101, 0.277);
  padding: 5px 10px;
  font-size: 12px;
} 

.creator-table-title {
  font-size: 30px;
  width: 150px;
  margin: 0 auto;
}

.creator-table-container hr {
  min-width: 40%;
  opacity: 0.7;
}

.add-creator {
  position: absolute;
  left: 40px;
  top: 20px;
  font-size: 25px;
}

.add-creator:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.312);
  border-radius: 50%;
  font-size: 27px;
}

.delete-creator-btn {
  cursor: pointer;
}

.select-status {
  position: absolute;
  right: 20px;
  top: 15px;
}

.verified-check {
  padding-top: 4px;
  font-size: 20px;
}