.admin-sidebar {
  transition: transform 0.3s ease;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  gap: 20px;
  top: 70px;
  z-index: 300;
  height: 40vh;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.759);
}

.admin-sidebar div {
  border-radius: 10px;
  padding-left: 5px;
  transform: perspective(10px);
}

.admin-sidebar div:hover {
  background-color: rgba(162, 161, 161, 0.449);
  cursor: pointer;
  transition: (0.3s ease);
}

.admin-sidebar-closed {
  width: 50px;
}

.hambugger-menu {
  position: absolute;
  top: 0;
  padding: 1px 8px;
}