
.creator-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 240px;
  border: 1px solid bisque;
  border-radius: 40px;
  background-color: white;
  overflow: hidden;
}

.vote-btn {
  position: absolute;
  right: 20px;
  bottom: 12px;
  max-width: 70px;
  padding: 5px 15px;
  font-size: 12px;
}

.voted {
  border: none;
}

.voted:hover {
  background: none;
  cursor: default;
}

.selected {
  border: 5px solid green;
  background: #f0fff4;
}

.selected-remove-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  max-width: 60px;
  right: 12px;
  bottom: 15px;
  padding: 5px;
  font-size: 11px;
  margin-left: 5px;
}

.selected-remove-btn:hover {
  background-color: white;
}

.creator-card img{
  width: 100%;
  border-radius: 40px;
  min-height: inherit;
}

.default-image {
  height: 100%;
}


.creator-card-text {    
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.809);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 30%;
  width: 100%;
}

.name {
  padding-top: 5px;
  font-size: 18px;
  color: white;
  margin-left: 30px  }
  
.creator-card-description {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-top: 10px;
  margin-left: 30px;
  font-size: 10px;
  opacity: 0.9;
}
