
header {
  position: fixed;
  z-index: 3;
  display: flex;
  background: rgba(0, 0, 0, 0.824);
  height: 80px;
  width: 100%;
  flex: 1;
}

.header-details {
  display: flex;
  margin-left: 28%;
}

/* logo and container */

.logo {
  width: 90px;
}

.logo-container {
  max-width: 150px;
}

.rules,
.about,
.join-as-creator-section,
.logo-container {
  border-right: 1px solid rgba(255, 255, 255, 0.639);
}

.rules,
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
}

.rules {
  color: rgba(255, 255, 255, 0.804);
}

.join-as-creator-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-width: 200px;
}

.join-as-creator-section span {
  margin-top: 10px;
  padding: 0 5px;
}

.join-as-creator-section button {
  margin: 5px 20px;
}

.about {
  color: rgba(255, 255, 255, 0.806);
  border-right: none;
}
