
@media (max-width: 980px) {

  button {
    border: #FFF1B8 solid 3px;
  }

  /* header section */
  header {
    height: 150px;
    width: 100%;
    font-size: 28px;
  }

  .header-details {
    display: grid;
    grid-template-columns: 120px 1fr 100px;
    margin-left: 200px;
  }

  /* logo and container */

  .logo {
    width: 165px;
  }

  .logo-container {
    width: 165px;
  }

  .rules,
  .about,
  .join-as-creator-section,
  .logo-container {
    height: 150px;
  }

  .rules,
  .about {
    font-size: smaller;
  }

  .about {
    padding-right: 20px;
  }

  .join-as-creator-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 300px;
  }

  .join-as-creator-section span {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-left: 0%;
  }

  .join-as-creator-section button {
    width: 170px;
    max-height: 50px;
    margin-left: 50px;
  }














  /* hero section */
  body {
    height: 3000px;
  }

  .main {
    padding-top: 150px;
  }

  .cover-photo {
    height: 2000px;
  }

  .overlay {
    height: 2000px;
    margin-top: 150px;
  }

  .hero {
    height: 1000px;
    left: 10%;
    top: 500px;
    width: 800px;
    border-radius: 80px;
  }


  /* MKSU Grammys Text */
  .hero-text{
    font-size: 80px;
    align-items: center;
  }

  .description1, 
  .description2 {
    font-size: 35px;
    display: flex;
    justify-content: center;
  }

  .description1 {
    padding: 400px 0 30px 0;
  }

  .description2 {
    padding: 200px 0 20px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
  }

  .vote-now-btn {
    height: 100px;
    font-size: 33px;
  }

}









/* About section styles */

.about-section {
  top: 1630px;
}

.about-hero {
  height: 1000px;
  position: relative;
  display: flex;
  top: 400px;
}

.about-image-container {
  width: 100%;
  height: 1000px;
  border-radius: inherit;
}

.about-image-container img {
  width: 100%;
  height: 1000px;
  border-radius: inherit;
}

.hero-description {
  position: absolute;
  background-color: rgba(27, 16, 81, 0.673);
  color: white;
  font-size: 30px;
  height: 1000px;
  padding: 100px 0 20px 50px;
  border-radius: inherit;
}

.h1-description {
  padding: 20px 0 30px 0;
}

.category-container {
  padding-left: 50px;
}

.category {
  padding-top: 20px;
  font-size: inherit;
  font-weight: 700;
}

.category-intro {
  padding-top: 30px;
}






/* Tile styles */

.tile {
  border-radius: 30px;
  position: absolute;
  width: 90%;
  top: 1800px;
  left: 5%;
  color: white;
  background: linear-gradient(
    to bottom,
    rgb(27, 16, 81),
    rgb(0, 0, 0)
  );
}

.tile-description {
  font-size: 18px;
  position: absolute;
  top: 120px;
  left: 5%;
  width: 90%;
  font-family: 'roboto';
}

.card-container {
  position: absolute;
  display: flex;
  gap: 30px;
  left: 20%;
  bottom:35%;
}

.card {
  max-width: 250px;
  background-color: rgb(17, 5, 78);
  border: 1px solid aqua;
  max-height: 300px;
  font-size: 16px;
  padding: 4px 10px 10px 20px;
  border-radius: 20px;
}
