
@media (max-width: 980px) {
  /* header section */
  header {
    height: 150px;
    width: 100%;
    font-size: 28px;
  }

  .header-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20%;
  }

  /* logo and container */

  .logo {
    width: 165px;
  }

  .logo-container {
    width: 165px;
  }

  /* .rules,
  .about,
  .join-as-creator-section,
  .logo-container {
    border-right: 1px solid rgba(255, 255, 255, 0.639);
  } */

  /* .rules,
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rules {
    color: rgba(255, 255, 255, 0.804);
  } */

  .join-as-creator-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 250px;
  }

  .join-as-creator-section span {
    margin-top: 30px;
    padding-left: 15px;
  }

  .join-as-creator-section button {
    max-width: 80px;
    max-height: 30px;
    margin-left: 30%;
  }

  .about {
    color: rgba(255, 255, 255, 0.806);
    border-right: none;
  }












  .hero {
    left: 10%;
    border-radius: 8%;
    width: 80%;
    height: 500px;
  }

  .hero-text{
    font-size: 2rem;
  }
  
  .description1 {
    padding: 120px 0 40px;
    font-size: 15px;
  }

  .description2 {
    padding: 100px 0 0 0;
    font-size: 15px;
  }

  .buttons-container {
    padding: 20px 0 0 0;
  }

  .hero-description {
    position: absolute;
    background-color: rgba(7, 4, 21, 0.809);
    font-size: 12px;
    width: 100%;
    padding: 70px 0 10px 50px;
    border-radius: 25px;
    height: inherit;
  }

  .h1-description {
    padding: 20px 0 30px 0;
  }

  .about-hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 150px;
    left: 0;
    height: 510px;
  }

  .about-image-container {
    max-width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  .category {
    padding-top: 20px;
    font-size: 18px;
  }

  .category-intro {
    padding-top: 30px;
  }


  .tile {
    top: 710px;
    left: 0;
    width: 100%;
    height: 600px;
  }

  .tile-description {
    position: absolute;
    top: 20px;
    left: 5%;
    width: 90%;
  }

  .card-container {
    flex-direction: column;
    gap: 20px;
    left: 25%;
    bottom: 0;
    top: 120px;
    max-width: 100%;
  }

  .card {
    max-width: 300px;
    max-height: 145px;
    font-size: 13px;
    padding: 5px 0 0 20px;
    border-radius: 20px;
  }

  .category-section {
    top: 1350px;
  }

  .category-card-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer-section {
    top: 2650px;
  }
}