/* Big screens */
@media (min-width: 1200px) {
  .header-details {
    margin-left: 60%;
  }

}




/* Medium laptops */
@media (max-width: 1200px) {
  .about-hero {
    width: 90%;
    max-height: 500px;
    left: 5;
  }

  .about-image-container {
    max-width: 100%;
    max-height: 100%;
  }


  .hero-description {
    padding: 20px 0 0 70px;
    font-size: 12px;
  }

  .category {
    font-size: 15px;
  }

  .category-intro {
    padding: 0;
  }

}

/* small laptops and tablets */
@media (max-width: 1000px) {
  .header-details {
    margin-left: 30%;
  }

  .about-hero {
    width: 90%;
    max-height: 500px;
    top: 350px;
    left: 5%;
  }

  .about-image-container {
    max-width: 100%;
    max-height: 100%;
  }

  .hero-description {
    font-size: 12px;
    width: 100%;
    padding: 50px 0 0 50px;
  }

  .category {
    padding-top: 10px;
    font-size: 15px;
  }

  .category-intro {
    padding-top: 20px;
    font-size: 20px;
  }



  /* Tile styles */

  .tile {
    top: 1100px;
    left: 5%;
    width: 90%;
  }

  .card-container {
    gap: 30px;
    left: 5%;
  }

  /* category-cards */
  .category-card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  
  /* footer section */
  .footer-section {
    top: 2450px;
  }
}


/* small screens */

/* header */
@media (max-width: 700px) {
  .join-as-creator-section{
    width: 136px;
    font-size: 13px;
  }

  .join-as-creator-section span {
    padding-left: 10px;
  }

  .join-as-creator-section button {
    margin-left: 20px;
  }

  .rules {
    padding-right: 80%;
  }


/* main page */

  .hero {
    left: 10%;
    border-radius: 8%;
    width: 80%;
    height: 500px;
  }

  .hero-text{
    font-size: 2rem;
  }
  
  .description1 {
    padding: 120px 0 40px;
    font-size: 15px;
  }

  .description2 {
    padding: 100px 0 0 0;
    font-size: 15px;
  }

  .buttons-container {
    padding: 20px 0 0 0;
  }

  .hero-description {
    position: absolute;
    background-color: rgba(7, 4, 21, 0.809);
    font-size: 12px;
    width: 100%;
    padding: 70px 0 10px 50px;
    border-radius: 25px;
    height: inherit;
  }

  .h1-description {
    padding: 20px 0 30px 0;
  }

  .about-hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 150px;
    left: 0;
    height: 510px;
  }

  .about-image-container {
    max-width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  .category {
    padding-top: 20px;
    font-size: 18px;
  }

  .category-intro {
    padding-top: 30px;
  }


  /* Tile styles */

  .tile {
    top: 710px;
    left: 0;
    width: 100%;
    height: 600px;
  }

  .tile-description {
    position: absolute;
    top: 20px;
    left: 5%;
    width: 90%;
  }

  .card-container {
    flex-direction: column;
    gap: 20px;
    left: 25%;
    bottom: 0;
    top: 120px;
    max-width: 100%;
  }

  .card {
    max-width: 300px;
    max-height: 145px;
    font-size: 16px;
    border-radius: 20px;
  }

  /* category-cards */
  .category-section {
    top: 1350px;
  }

  .category-card-container {
    grid-template-columns: 1fr 1fr;
  }

  /* footer section */
  .footer-section {
    top: 2200px;
  }

  .footer {
    grid-template-columns: 1fr;
    gap: 20px;
  }

}