
.header {
  top: 0;
  height: 150px;
  position: fixed;
  z-index: 200;
  width: 100%;
  align-items: normal;
}

.header-section {
  background-color: yellow;
  margin-top: 0;
  display: flex;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 60%;
}

.header h1 {
  margin: 0;
  display: flex;
  max-width: 200px;
  font-size: 16px;
  padding: 0;
}

.header img {
  width: 100px;
  height: 100%;
}

.header-hr {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  width: 60%;
  margin: 0 auto;
  z-index: 250;
}


.search-section {
  position: fixed;
  top: 100px;
  z-index: 200;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.search-section input{
  display: flex;
  flex-direction: row;
  max-width: 400px;
  border-radius: 100px;
  height: 30px;
  border: 3px solid aqua;
  flex: 1;
}

.search-section button {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 12%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.327);
}

.search-bar,
.search-icon {
  margin-top: -40px;
}

.view-votes {
  width: 100px;
  margin-top: 20px;
}

.view-votes button {
  border-radius: 20px;
  padding: 5px;
}

.view-votes h4 {
  margin: 0;
}

.vote-count {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}
