
.header {
  background-color: rgba(0, 0, 0, 0.824);
  display: flex;
  flex-direction: row;
  width: 1000px;
  position: fixed;
  z-index: 100;
  height: 120px;
}


.header-text {
  color: white;
  height: 100%;
  display: flex;
  border-radius: 50px;
  justify-content: center;
}

.left-section,
.middle-section,
.right-section {
  flex: 1;
}

.left-section{
  min-width: 10px;
  max-width: 300px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.left-section h1{
  color: white;
  width: 350px;
  padding-bottom: 30px;
}

.back {
  color: white;
  transition: transform 0.3s ease;
  color: aqua;
  margin-left: 50px;
  width: 53px;
}

.back:hover {
  transform: translateX(-5px);
  cursor: pointer;
  color: aquamarine;
}

.middle-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-width: 800px;
  border: rgb(191, 232, 225) 1px solid;
  border-radius: 40px;
  padding: 0 20px;
  position: relative;
}

.search-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.search-section input{
  display: flex;
  flex-direction: row;
  max-width: 400px;
  border-radius: 100px;
  height: 30px;
  border: 3px solid aqua;
  flex: 1;
}

.search-section button {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
}

.search-bar,
.search-icon {
  margin-top: -40px;
}

.category {
  font-size: 25px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  z-index: 200;
  height: 20px;
}

.category-button {
  background-color: rgba(240, 248, 255, 0.49);
  border: 1px solid black;
}


.category a {
  text-decoration: none;
  color: white;
  font-family: "roboto", Arial;
}


.right-section{
  display: flex;
  color: white;
  width: 300px;
  text-align: center;
  justify-content: center;
}

.view-votes {
  width: 100px;
  margin-top: 20px;
}

.view-votes button {
  border-radius: 20px;
}

.view-votes h4 {
  margin: 0;
}

.vote-count {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}
