
.header {
  top: 0;
  height: 100px;
  position: fixed;
  z-index: 200;
  width: 100%;
  align-items: normal;
}

.header-section {
  margin-top: 0;
  display: flex;
  text-align: center;
  align-items: center;
  width: 240px;
  height: 50%;
}

.header h1 {
  margin: 0;
  display: flex;
  max-width: 200px;
  font-size: 16px;
  padding: 0;
}

.header img {
  position: absolute;
  top: 7px;
  left: 20px;
  width: 70px;
  height: 70px;
}

.header-hr {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  width: 60%;
  margin: 0 auto;
  z-index: 250;
}


.search-section {
  position: fixed;
  top: 60px;
  z-index: 200;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.search-section input{
  display: flex;
  flex-direction: row;
  max-width: 200px;
  border-radius: 100px;
  height: 30px;
  border: 3px solid aqua;
  flex: 1;
  padding-left: 10px;
}

.search-section button {
  background-color: rgba(255, 255, 255, 0);
  max-width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
}

.search-section button:hover {
  background-color: rgba(250, 235, 215, 0.599);
}

.search-bar,
.search-icon {
  margin-top: 0;
}

.view-votes {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 200;
  width: 100px;
  margin-top: 10px;
}

.view-votes button {
  border-radius: 20px;
  padding: 5px;
  min-width: 0;
  max-width: 80px;
  font-size: 12px;
}

.vote-count {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
