body {
  padding-top: 120px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.708)
  ),
  url('/images/2026_grammys_68th_grammy_awards_Key-Dates_V5_1644x925.webp');
  border-radius: 30px;
}

.description{
  margin-left: 20px;
  display: inline-block;
  color: rgb(202, 191, 191);
  font-size: small;
}

.name{
  font-size: 20px;
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 0;
}


.highlight {
  border: 3px solid aqua;
}

.tiles-title-div{
  background-color: aliceblue;
  color: black;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 200px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  max-width: 300px;
  
}


.voted {
  display: inline;
  margin: 0;
  font-size: 20px;
  height: 3px;
  width: 50px;
}

.voted-emoji {
  display: inline;
  margin: 0 ;
  font-size: 20px;
  max-height: 3px;
  max-width: 10px;
}

.voted-popup-off {
  opacity: 0;
  width: 200px;
  margin: 0 0 0 180px;
}

.voted-popup-on {
  opacity: 1;
}

.preview:hover, .view-more-tile:hover{
  transform: translateY(-10px); /* moves tile up */
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  cursor: pointer;
}

.tiles-title{
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: center;
}



  .preview-tiles {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 100%;
    display: grid;
    margin-bottom: 20px;
  }

  .preview-tiles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .preview {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
    height: 245px;
    border: 1px solid bisque;
    border-radius: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .preview img{
    height: 80%;
    max-width: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }


  .preview-text{    
    padding-top: 5px;
    background-color: rgba(255, 0, 191, 0.184);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 20%;
  }

  .name {
    font-size: 18px;
    color: white;
    margin-left: 30px  }

  .description {
    padding-top: 2px;
    margin-left: 30px;
    font-size: 10px;
  } 

  .voted {
    display: inline;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    height: 3px;
    width: 50px; 
  }

  .voted-popup-off {
    position: absolute;
    opacity: 0;
    width: 200px;
    bottom: 26px;
    left: -50px;
  }
  

  .highlight {
    border: 3px solid aqua;
  }


