/* phone screen */
@media (max-width: 980px) {

  /* voters cards */
  .preview-tiles {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin-left: 50px;
    border: 1px;
    display: grid;
    gap: 30px;
    margin-bottom: 100px;
  }

  .preview {
    position: relative;
    width: 380px;
    height: 630px;
    border: 1px solid bisque;
    border-radius: 40px;
    margin-bottom: 40px;
  }

  .preview img{
    min-height: 530px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }

  .preview-text{    
    padding-top: 10px;
    background-color: rgba(255, 0, 191, 0.184);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 100px;
  }

  .name {
    font-size: 35px;
    color: white;
    margin-left: 30px  }

  .description {
    padding-top: 2px;
    margin-left: 30px;
    font-size: 20px;
  } 

  .voted {
    display: inline;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    height: 3px;
    width: 50px; 
  }

  .voted-popup-off {
    position: absolute;
    opacity: 1;
    width: 200px;
    font-size: 30px;
    bottom: 50px;
    left: 70px;
  }
  

  .highlight {
    border: 3px solid aqua;
  }

  .tiles-title-div{
    font-size: 20px;
    height: 80px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 200px;
  }


/* header styles */
  
  .header {
    font-size: 40px;
    top: 0;
    height: 180px;
    width: 100%;
  }

  body {
    padding-top: 180px;
    background-color: black;
  }

  .header-text {
    width: 200px;
    height: 100%;
    display: flex;
    padding: 0 0 10px 40px;
  }

 .back {
  font-size: 25px;
    margin-left: 20px;
    width: 150px;
  }

  .middle-section {
    width: 100%;
    align-items: center;
    border: none;
   }

  .search-section {
    margin-top: 80px;
    margin-left: 20px;
    width: 450px;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .search-section input{
    width: 350px;
    border-radius: 100px;
    height: 60px;
    border: 3px solid aqua;
    flex: 1;
    font-size: 28px;
  }

  .search-section button {
    max-width: 60px;
    height: 60px;
  }

  .category {
    background-color: rgba(0, 0, 0, 0.824);
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 150px;
    padding-top: 10px;
  }

  .category-button {  
    padding-left: 15px;
    border-radius: 50%;
    width: 140px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-section {
    width: 200px;
  }

  .left-section {
    margin-left: 20px;
  }
  .view-votes {
    width: 200px;
  }

  .right-section h4 {
    font-size: 28px;
  }

  .right-section button {
    width: 150px;
    font-size: 22px;
    height: 45px;
  }

  .vote-count {
    font-size: 50px;
  }

  
}