* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.91), rgba(0, 0, 29, 0.766)),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgHh73oyE58iU3Z8pYUnU-4fzRSF_2qtdk7vZJNSwU2Q&s);
  background-position: center;
  font-family: sans-serif;
}


html{
  scroll-behavior: smooth;
}

button {
  color: white;
  flex: 1;
  max-width: 350px;
  max-height: 200px;
  font-size: 15px;
  font-weight: 600;
  background: none;
  border: #FFF1B8 solid 1px;
  border-radius: 8px;
}

button:hover {
  background-color: #FFF1B8;
  color: black;
  transition: 0.3s ease;
  cursor: pointer;
}
