@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #d4af37;
  --color-secondary: #8a2be2;
  --color-tertiary: #0f172a;
  --color-neutral: #f8fafc;
}

@layer base {
  button {
    @apply border border-primary/80 hover:bg-primary dark:hover:text-tertiary transition-colors dark:hover:bg-neutral cursor-pointer rounded-sm shadow-lg
  }
}


/* to allow smooth navigation on clicking <a> tags */
html {
  scroll-behavior: smooth;
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slide-from-top {
  animation-name: slideFromTop;
}

.fade-in {
  animation-name: fadeIn;
}

@layer utilities {
  .duration-1000 {
    animation-duration: 1000ms;
  }

  .duration-200 {
    animation-duration: 200ms;
  }

  .duration-300 {
    animation-duration: 300ms;
  }

  .duration-400 {
    animation-duration: 400ms;
  }

  .duration-1100 {
    animation-duration: 1100ms;
  }

  /* delays */
  .delay-200 {
    animation-delay: 200ms;
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .delay-400 {
    animation-delay: 400ms;
  }
}