@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #d4af37;
  --color-secondary: #8a2be2;
  --color-tertiary: #0f172a;
  --color-neutral: #f8fafc;
}

@layer base {
  button {
    @apply border dark:bg-primary border-primary/50 hover:bg-primary dark:hover:text-tertiary transition-colors dark:hover:bg-neutral cursor-pointer
  }
}

/* to allow smooth navigation on clicking <a> tags */
html {
  scroll-behavior: smooth;
}