
.creator-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 240px;
  border: 1px solid bisque;
  border-radius: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
  overflow: hidden;
}

.creator-card:hover {
transform: translateY(-10px); /* moves tile up */
box-shadow: 0 10px 20px rgba(0,0,0,0.3);
cursor: pointer;
}

.creator-card img{
  width: 100%;
  border-radius: 40px;
  min-height: inherit;
}

.default-image {
  height: 100%;
}


.creator-card-text {    
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.809);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 30%;
  width: 100%;
}

.name {
  padding-top: 5px;
  font-size: 18px;
  color: white;
  margin-left: 30px  }
  
.creator-card-description {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-top: 10px;
  margin-left: 30px;
  font-size: 10px;
  opacity: 0.9;
}
