body {
  color: white;
  font-family: "Archivo Black", Arial;
  margin: 0 auto;
  height: 2000px;
}


header {
  position: fixed;
  z-index: 3;
  display: flex;
  background-color: black;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.268);
}

.header-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 55%;
}

/* logo and container */

.logo {
  width: 90px;
}

.logo-container {
  width: 150px;
}

.rules,
.about,
.join-as-creator-section,
.logo-container {
  border-right: 1px solid;
}

.rules,
.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules {
  color: rgba(255, 255, 255, 0.804);
}

.join-as-creator-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 200px;
}

.join-as-creator-section span {
  margin-top: 15px;
  padding-left: 15%;
}

.join-as-creator-section button {
  max-width: 80px;
  max-height: 30px;
  margin-left: 30%;
}

.about {
  color: rgba(255, 255, 255, 0.806);
  border-right: none;
}

.main {
  padding-top: 80px;
}

.cover-photo {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.overlay {
  height: 800px;
  margin-top: 80px;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(65, 71, 237, 0.33) 0%,
    rgba(0, 0, 0, 0.541) 100%
  );
}


.hero {
  position: relative;
  margin-left: 10%;
  height: 600px;
  z-index: 2;
  width: 500px;
  background-color: black;
  border: solid 1px white;
  border-top: none;
}

/* MKSU Grammys Text */
.hero-text{
  color: white;
  font-weight: 800;
  font-size: 40px;
  padding: 100px 0 0 60px;
}

.description1, 
.description2 {
  color: rgba(255, 255, 255, 0.773);
  font-size: 18px;
}

.description1 {
  padding: 120px 0 0 50px;
}

.description2 {
  padding: 150px 0 0 60px;
}

.buttons-container {
  padding: 20px 0 0 110px;
}

.buttons-container button {
  height: 40px;
  padding: 0 10px;
  max-width: 200px;
  margin-left: 20px;
}

.buttons-container button:active {
  transform: translateY(2px);
}

.start-voting-btn {
  color: white;
  font-weight: bold;
  background-color: rgb(253, 60, 111);
  box-shadow: 0 -2px 3px rgb(255, 255, 255);
  transition: transform 0.2s ease;
}

.learn-more-btn {
  color: white;
  background-color: black;
  border: 1px solid white;
  transition: transform 0.2s ease;
}

.start-voting-btn:hover {
  transform: translateY(-4px);
}

.learn-more-btn:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
  transform: translateY(-4px);
}

@media (min-width: 1200px) {
  .header-details {
    margin-left: 60%;
  }

  .hero {
    width: 800px;
    height: 670px;
  }

  .hero-text{
    padding: 100px 0 0 135px;
    font-size: 60px;
  }

  .description1 {
    padding: 120px 0 0 220px;
  }

  .description2 {
    padding: 150px 0 0 220px;
  }
  
  .buttons-container {
    padding: 20px 0 0 260px;
  }
}

@media (max-width: 1200px) {
  .header-details {
    margin-left: 40%;
  }
}

@media (max-width: 1000px) {
  .header-details {
    margin-left: 30%;
  }
}

@media (max-width: 700px) {
  .join-as-creator-section{
    width: 136px;
    font-size: 13px;
  }

  .join-as-creator-section span {
    padding-left: 10px;
  }

  .join-as-creator-section button {
    margin-left: 20px;
  }

  .rules {
    padding-right: 80%;
  }

  .hero {
    margin: 100px 0 0 10%;
    border-radius: 8%;
    height: 550px;
    width: 400px;
  }

  .hero-text{
    padding: 100px 0 0 20px;
  }
  
  .description1 {
    padding: 120px 0 0 40px;
    font-size: 15px;
  }

  .description2 {
    padding: 100px 0 0 40px;
    font-size: 15px;
  }

  .buttons-container {
    padding: 20px 0 0 65px;
  }

}

/* About section styles */

.about-section {
  position: absolute;
  width: 100%;
}

.about-hero {
  width: 70%;
  max-height: 600px;
  color: black;
  position: absolute;
  display: flex;
  grid-template-columns: 300px 1fr;
  top: 350px;
  left: 15%;
  border: 1px solid;
}

.about-image-container {
  max-width: 450px;
  max-height: 600px;
}

.about-image-container img {
  width: 100%;
  height: 100%;
}

.hero-description {
  background-color: rgb(27, 16, 81);
  color: white;
  font-size: 12px;
  width: 100%;
  padding: 100px 0 0 50px;
}

.h1-description {
  padding: 20px 0 30px 0;
}

.category {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
}

.category-intro {
  padding-top: 30px;
}