body {
  color: white;
}

.main {
  padding-top: 80px;
}

.cover-photo {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 800px;
  object-fit: cover;
}

header {
  position: fixed;
  z-index: 3;
  background-color: black;
  height: 80px;
  width: 100%;
}

.hero {
  position: relative;
  margin-left: 10%;
  height: 600px;
  z-index: 2;
  max-width: 500px;
  background-color: black;
}

.welcome-text{
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin: 0 auto;
  font-family: "Archivo Black", Arial;
  margin-top: 40%;
}

.welcome-description{
  color: rgb(229, 216, 216);
  margin-top: 0;
  margin: 0 auto;
}

.hero h1,
h3 {
  display: block;
}

.hero h1 {
  font-weight: 800;
  font-size: 35px;
}


.hero h1 {
  display: flex;
  flex-direction: row;
}

.buttons button {
  height: 40px;
  padding: 0 10px;
  max-width: 200px;
}

.buttons {
  margin: 75% 0 0 25%;

}
