* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(55, 5, 58);
  padding-top: 40px;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: white;
}

.voters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  margin: 0 auto;
  max-width: 300px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 180px;
  height: 286px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.card p {
  color: gray;
}

.back {
  color: white;
  transition: transform 0.3s ease;
  color: aqua;
  width: 60px;
}

.back:hover {
  transform: translateX(-5px);
  cursor: pointer;
  color: aquamarine;
}

button {
  width: 30%;
  height: 50px;
}

.clear-button {
  background-color: rgba(255, 0, 0, 0.769);
  color: white;
}

.clear-button:hover {
 background-color: rgba(159, 16, 16, 0.548); 
}

.submit-button {
  background-color: rgba(0, 255, 0, 0.769);
  color: rgb(255, 255, 255);
}

.submit-button:hover {
  background-color: rgba(5, 127, 5, 0.769);
}

.button-container {
  display: block;
  height: 20px;
  margin-top: 20px;
}

.remove-btn {
  background-color: rgba(255, 0, 43, 0.867);
  height: 35px;
  width: 70px;
  margin-top: 20px;
}

.remove-btn:hover{
  background-color: rgba(229, 167, 178, 0.529);
  border: white;
}

.clear-button-container,
.submit-button-container {
  display: inline;
}