* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

html{
  scroll-behavior: smooth;
}

button {
  color: white;
  flex: 1;
  max-width: 350px;
  max-height: 200px;
  font-size: 15px;
  font-weight: 600;
  background: none;
  border: #FFF1B8 solid 1px;
  border-radius: 8px;
}

button:hover {
  background-color: #FFF1B8;
  color: black;
  transition: 0.3s ease;
  cursor: pointer;
}


.back {
  z-index: 250;
  color: white;
  transition: transform 0.3s ease;
  color: aqua;
}

.back:hover {
  transform: translateX(-5px);
  cursor: pointer;
  color: aquamarine;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 180px;
}