* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.884), rgba(0, 0, 29, 0.614)),
    url(images/2026_grammys_68th_grammy_awards_Key-Dates_V5_1644x925.webp);
  background-size: cover;
  background-position: center;
}


html{
  scroll-behavior: smooth;
}

button {
  color: white;
  flex: 1;
  max-width: 350px;
  max-height: 200px;
  font-size: 15px;
  font-weight: 600;
  background: none;
  border: #FFF1B8 solid 1px;
  border-radius: 8px;
}

button:hover {
  background-color: #FFF1B8;
  color: black;
  transition: 0.3s ease;
  cursor: pointer;
}
