.header {
  width: 70%;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header h1 {
  margin: 0;
  display: flex;
  max-width: 200px;
  font-size: 22px;
}

.header img {
  width: 100px;
  height: 90%;
}

.back {
  position: fixed;
  top: 30px;
  right: 85%;
}

.back:hover {
  color: yellow;
}

hr {
  opacity: 0.5;
  width: 60%;
  margin: 0 auto;
}

.intro {
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.8;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

}

.tile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.908),
    rgba(5, 8, 87, 0.788)
  );
  border: 1px solid rgba(0, 255, 255, 0.388);
  border-radius: 30px;
  font-size: 20px;
  position: absolute;
  left: 15%;
  top: 230px;
  height: 500px;
  width: 70%;
}



h1 {
  font-size: 30px;
  margin-left: 5%;
  margin-bottom: 20px;
  padding-top: 25px;
}

p {
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 30px;
  margin-right: 20px;
  color: rgba(240, 248, 255, 0.824);
}

input {
  border: 0;
  width: 180px;
  border-bottom: 1px solid bisque;
  background: none;
  height: 25px;
  color: white;
}

select {
  height: 20px;
}

label {
  color: rgba(240, 248, 255, 0.918);
  font-size: 12px;
}



button {
  max-height: 50px;
  width: 150px;
  margin-top: 20px;
}

.tile div {
  max-height: 30px;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}