@media (min-width: 700px) {
  .tile {
    left: 25%;
    width: 50%;
  }

  .category-card-container {
    left: 20%;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1000px) {
  .back {
    right: 70%;
  }

  input {
    width: 200px;
  }
  
  .tile {
    left: 35%;
    width: 30%;
  }
  
  .category-card-container {
    width: 50%;
    left: 25%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}